.mui-nav
  position: relative
  background-color: #f8f8f8;
  padding-bottom 0.5px
  -webkit-overflow-scrolling: touch;

.mui-card
  font-size: 12px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  background-color: #fff;
  background-clip: padding-box;
  margin-bottom 12px
  padding: 0 8px
  .good-right
    text-align center
    letter-spacing 1px
    font-size: 10px;
    color: #666;

.mui-card-header
  font-size: 13px;
  font-weight: 600;
  color: #303133;
  line-height: 17px;
  margin 6px 0

.mui-card-content
  color: #fa436a;

  .price
    font-weight: 600;
    font-size: 14px;

  .m-price
    margin: 0 5px;
    color: #909399;

.mui-card-disc
  line-height: 17px
  padding-bottom 12px
  h4
    margin 6px 0
    font-weight: 600;
  p
    margin 6px 0
    text-indent 2em
    line-height 20px
  .user-inform
    img
      width 32px
      height 32px
      border-radius 50%
      position: relative;
      top 15px
    span
      display block
      line-height 21px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
